@page
@model IndexModel
@{
    ViewData["Title"] = "Index";
}



<main class="posts-listing col-lg-12">
    <div class="container">
        <div class="row">

                <div class="post col-xl-6">
                    <div class="post-thumbnail">
                        <a>
                        <img src="img/featured-pic-1.jpeg" alt="Title" title="Title" class="img-fluid">
                        </a>
                    </div>
                    <div class="post-details">
                        <div class="post-meta d-flex justify-content-between">
                            <div class="date meta-last">CreationDate</div>
                            <div class="category">
                                <a>ArticleCategory</a>
                            </div>
                        </div>
                        <a>
                            <h3 class="h4">Title</h3>
                        </a>
                        <p class="text-muted">
                           ShortDescription
                        </p>
                        <footer class="post-footer d-flex align-items-center">
                            <div class="comments meta-last"><i class="icon-comment"></i>CommentsCount</div>
                        </footer>
                    </div>
                </div>

            <div class="post col-xl-6">
                <div class="post-thumbnail">
                    <a>
                        <img src="img/featured-pic-1.jpeg" alt="Title" title="Title" class="img-fluid">
                    </a>
                </div>
                <div class="post-details">
                    <div class="post-meta d-flex justify-content-between">
                        <div class="date meta-last">CreationDate</div>
                        <div class="category">
                            <a>ArticleCategory</a>
                        </div>
                    </div>
                    <a>
                        <h3 class="h4">Title</h3>
                    </a>
                    <p class="text-muted">
                        ShortDescription
                    </p>
                    <footer class="post-footer d-flex align-items-center">
                        <div class="comments meta-last"><i class="icon-comment"></i>CommentsCount</div>
                    </footer>
                </div>
            </div>

            <div class="post col-xl-6">
                <div class="post-thumbnail">
                    <a>
                        <img src="img/featured-pic-1.jpeg" alt="Title" title="Title" class="img-fluid">
                    </a>
                </div>
                <div class="post-details">
                    <div class="post-meta d-flex justify-content-between">
                        <div class="date meta-last">CreationDate</div>
                        <div class="category">
                            <a>ArticleCategory</a>
                        </div>
                    </div>
                    <a>
                        <h3 class="h4">Title</h3>
                    </a>
                    <p class="text-muted">
                        ShortDescription
                    </p>
                    <footer class="post-footer d-flex align-items-center">
                        <div class="comments meta-last"><i class="icon-comment"></i>CommentsCount</div>
                    </footer>
                </div>
            </div>

            <div class="post col-xl-6">
                <div class="post-thumbnail">
                    <a>
                        <img src="img/featured-pic-1.jpeg" alt="Title" title="Title" class="img-fluid">
                    </a>
                </div>
                <div class="post-details">
                    <div class="post-meta d-flex justify-content-between">
                        <div class="date meta-last">CreationDate</div>
                        <div class="category">
                            <a>ArticleCategory</a>
                        </div>
                    </div>
                    <a>
                        <h3 class="h4">Title</h3>
                    </a>
                    <p class="text-muted">
                        ShortDescription
                    </p>
                    <footer class="post-footer d-flex align-items-center">
                        <div class="comments meta-last"><i class="icon-comment"></i>CommentsCount</div>
                    </footer>
                </div>
            </div>
        </div>
    </div>
</main>









